@import '~node_modules/modern-normalize/modern-normalize.css';

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
}

.ldld {
  color: $accent-color;
}
