@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
.logo__text {
  display: none;
}

.logo__icon {
  fill: transparent;
  stroke: #ff6b08;
}

@media screen and (min-width: 768px) {
  .logo__text {
    display: block;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: #ffffff;
  }
  .logo {
    display: flex;
    align-items: center;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 44px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #ff6b01;
  border-color: #ff6b01;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 280px;
    height: 100%;
    padding: 48px 20px 40px 20px;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 704px;
    height: 552px;
    padding: 40px 72px 40px 36px;
  }
}
@media screen and (min-width: 1024px) {
  .modal {
    max-width: 806px;
    height: 558px;
    padding: 40px 12px;
  }
}
.film-card-content__list-item {
  margin-bottom: 20px;
}

.film-card-content__description {
  display: flex;
}

.film-card-content__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}

.film-card-content__about {
  margin-bottom: 20px;
}

.film-card-content__about-title {
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}

.film-card-content__about-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.film-card-content__item-text-right {
  margin-left: 39px;
  color: #000;
}
.film-card-content__item-text-right:not(:last-child) {
  margin-bottom: 8px;
}

.film-card-content__item-text-left:not(:last-child) {
  margin-bottom: 8px;
}

.film-card-content__title {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  line-height: 23px;
}

.rating {
  padding: 1px 10px;
  border-radius: 5px;
  background-color: #ff6b01;
  color: #fff;
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-btn-close-icon {
  fill: #000000;
}
.modal-btn-close:hover .modal-btn-close-icon, .modal-btn-close:focus .modal-btn-close-icon {
  fill: #ff6b01;
}

.film-card-content_btn {
  display: flex;
}

.film-card-btn {
  border: 1px solid #000000;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.film-card-btn:hover, .film-card-btn:focus {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .film-card-content__title {
    margin-top: 20px;
  }
  .film-card-btn {
    width: 110px;
  }
  .film-card-btn:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .film-card {
    display: flex;
  }
  .film-card-content {
    margin-left: 68px;
    max-width: 265px;
  }
  .film-card-btn {
    width: 125px;
    padding: 14px 5px;
  }
  .film-card-btn:not(:last-child) {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .film-card-content {
    margin-left: 16px;
    max-width: 391px;
  }
  .film-card-content__title {
    font-size: 30px;
    line-height: 35px;
  }
  .film-card-content__item-text-right {
    margin-left: 80px;
  }
  .film-card-btn {
    width: 136px;
    padding: 14px 10px 12px 10px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header {
  padding-top: 46px;
  padding-bottom: 39px;
  background-color: rgba(0, 0, 0, 0.56);
  max-width: 100%;
  margin: 0 auto;
  background-image: url(../images/header-home/header-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/header-home/header-home-mobile@2x.jpg);
  }
}
.header__navigation {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header__navigation-list {
  display: flex;
  justify-content: space-between;
}

.header__navigation-item + .header__navigation-item {
  margin-left: 40px;
}

.header__navigation-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.header__navigation-link_current {
  position: relative;
}
.header__navigation-link_current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ff6b08;
}

.header__search-form {
  position: relative;
  margin-bottom: 18px;
}

.header__search-input {
  width: 100%;
  background-color: transparent;
  border: transparent;
  outline: unset;
  border-bottom: 0.5px solid #fff;
  font-size: 14px;
  color: #ffffff;
}
.header__search-input::-moz-placeholder {
  color: #ffffff;
}
.header__search-input:-ms-input-placeholder {
  color: #ffffff;
}
.header__search-input::placeholder {
  color: #ffffff;
}

.header__search-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -5px;
}

.header__error-text {
  margin: 0 auto;
  max-width: 420px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #ff001b;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 36px;
    padding-bottom: 55px;
    background-image: url(../images/header-home/header-home-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/header-home/header-home-tablet@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header__navigation {
    margin-bottom: 37px;
  }
}
@media screen and (min-width: 768px) {
  .header__search-form {
    width: 336px;
    margin: 0 auto 24px auto;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    background-image: url(../images/header-home/header-home-desktop.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/header-home/header-home-desktop@2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .header__search-form {
    width: 394px;
  }
}
.header-library {
  padding-top: 44px;
  padding-bottom: 65px;
  background-image: url(../images/header-my-library/header-my-library-mobile.jpg);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-library {
    background-image: url(../images/header-my-library/header-my-library-mobile@2x.jpg);
  }
}
.header-library__navigation {
  margin-bottom: 49px;
}

.header-library__btn-list {
  display: flex;
  justify-content: center;
}

.header-library__btn-item:not(:last-child) {
  margin-right: 20px;
}

.header-library__btn {
  width: 130px;
  padding-top: 14px;
  padding-bottom: 12px;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.header-library__btn_current {
  background-color: #ff6b08;
  border: 1px solid #ff6b08;
}

@media screen and (min-width: 768px) {
  .header-library {
    padding-top: 41px;
    background-image: url(../images/header-my-library/header-my-library-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: url(../images/header-my-library/header-my-library-tablet@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header-library__navigation {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 768px) {
  .buttons-list__item:not(:last-child) {
    margin-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .header-library__btn {
    width: 136px;
  }
}
@media screen and (min-width: 1024px) {
  .header-library {
    background-image: url(../images/header-my-library/header-my-library-desktop.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: url(../images/header-my-library/header-my-library-desktop@2x.jpg);
  }
}/*# sourceMappingURL=index.css.map */