$main-color: #000000;
$white-color: #ffffff;
$secondary-color: #8c8c8c; //на карточке с инфо о фильме
$accent-color: #ff6b01;
$secondary-accent-color: #ff6b08;
$header-logo-color: #818181;
$footer-text-color: #545454;
$footer-bg-color: #f7f7f7;
$header-bg-color: rgba(0, 0, 0, 0.56);
