$main-color: #000000;
$white-color: #ffffff;
$secondary-color: #8c8c8c;
$accent-color: #ff6b01;
$secondary-accent-color: #ff6b08;
$header-logo-color: #818181;
$footer-text-color: #545454;
$footer-bg-color: #f7f7f7;
$header-bg-color: rgba(0, 0, 0, 0.56);
$bg-btn-uptop: #e6e6e6;
$bg-btn-uptop-h: #ffc59f;
$social-icon: #474747;

// Анимации, переходы
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
