<header class="header-library">
  <div class="container">
    <nav class="header-library__navigation">
      <div class="logo-container">
        <a href="./index.html" class="header__logo-mobile"
          ><svg width="24" height="24">
            <use href="./images/sprite.svg#header-logo-film-icon"></use></svg
        ></a>
        <a href="./index.html" class="header__logo-text"
          ><svg class="logo" width="24" height="24">
            <use href="./images/sprite.svg#header-logo-film-icon"></use></svg
          >Filmoteka</a
        >
      </div>
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="./index.html" class="nav-list__link">Home</a>
        </li>
        <li class="nav-list__item">
          <a href="./library.html" class="nav-list__link nav-list__link_current"
            >My library</a
          >
        </li>
      </ul>
    </nav>
    <ul class="buttons-list">
      <li class="buttons-list__item">
        <button
          type="submit"
          class="btn header-library__btn header-library__btn-current"
        >
          watched
        </button>
      </li>
      <li class="buttons-list__item">
        <button type="submit" class="btn header-library__btn">queue</button>
      </li>
    </ul>
  </div>
</header>
