<header class="header header-library">
  <div class="header__container">
    <nav class="header__navigation">
      <div class="logo-wrapper">
        <a href="./index.html" class="logo" aria-label="site logo">
          <svg
            class="logo__icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.82 2H4.18C2.97602 2 2 2.97602 2 4.18V19.82C2 21.024 2.97602 22 4.18 22H19.82C21.024 22 22 21.024 22 19.82V4.18C22 2.97602 21.024 2 19.82 2Z"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-logo-1"
            ></path>
            <path
              d="M7 2V22"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-logo-2"
            ></path>
            <path
              d="M17 2V22"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-logo-3"
            ></path>
            <path
              d="M2 12H22"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-logo-4"
            ></path>
            <path
              d="M2 7H7"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-logo-5"
            ></path>
            <path
              d="M2 17H7"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-logo-6"
            ></path>
            <path
              d="M17 17H22"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-logo-7"
            ></path>
            <path
              d="M17 7H22"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-logo-8"
            ></path>
          </svg>

          <p class="logo__text">Filmoteka</p></a
        >
      </div>

      <div class="menu-wrapper">
        <ul class="header__navigation-list">
          <li class="header__navigation-item">
            <a href="./index.html" class="header__navigation-link">Home</a>
          </li>
          <li class="header__navigation-item">
            <a
              href="./library.html"
              class="header__navigation-link header__navigation-link_current"
              >My library</a
            >
          </li>
        </ul>
        <button type="button" class="btn__login">
          <svg class="icon-login">
            <use href="./images/sprite.svg#icon-login"></use>
          </svg>
        </button>
      </div>
    </nav>
    <ul class="header-library__btn-list">
      <li class="header-library__btn-item">
        <button
          type="button"
          class="btn header-library__btn-watched header-library__btn-current"
        >
          watched
        </button>
      </li>
      <li class="header-library__btn-item">
        <button type="button" class="btn header-library__btn-queue">
          queue
        </button>
      </li>
    </ul>
  </div>
</header>
