<div class="container">
  <section class="films-section">
    <h2 class="visually-hidden">Library</h2>
    <div class="default-library-page">
      <p class="default-library-page__text_main">No movies to watch :(</p>
      <!-- <img src="./images/nothing-to-watch.png" width="120" alt="" /> -->
      <p class="default-library-page__text">
        Unfortunately this page is empty, you may look and choose anything from
      </p>
      <a href="./index.html" class="default-library-page__link"
        >popular movies</a
      >
    </div>
    <ul class="library-movies"></ul>
    <div class="loader"></div>
  </section>
</div>
