<header class="header header-library">
  <div class="container">
    <nav class="header__navigation header-library__navigation">
      <a href="./index.html" class="logo"
        ><svg class="logo__icon" width="24" height="24">
          <use href="./images/sprite.svg#header-logo-film-icon"></use>
        </svg>
        <span class="logo__text">Filmoteka</span></a
      >

      <ul class="header__navigation-list">
        <li class="header__navigation-item">
          <a href="./index.html" class="header__navigation-link">Home</a>
        </li>
        <li class="header__navigation-item">
          <a
            href="./library.html"
            class="header__navigation-link header__navigation-link_current"
            >My library</a
          >
        </li>
      </ul>
    </nav>
    <ul class="header-library__btn-list">
      <li class="header-library__btn-item">
        <button
          type="submit"
          class="btn header-library__btn header-library__btn-current"
        >
          watched
        </button>
      </li>
      <li class="header-library__btn-item">
        <button type="submit" class="btn header-library__btn">queue</button>
      </li>
    </ul>
  </div>
</header>
