<ul class="pagination">
  <li class="pagination__arrow_left visually-hidden">
    <svg width="15" height="15">
      <use href="./images/sprite.svg#icon-arrow-left"></use>
    </svg>
  </li>
  <li class="pagination__item pagination__item_current">1</li>
  <li class="pagination__item">...</li>
  <li class="pagination__item">2</li>
  <li class="pagination__item">3</li>
  <li class="pagination__item">4</li>
  <li class="pagination__item">5</li>
  <li class="pagination__item">6</li>

  <li class="pagination__item">...</li>
  <li class="pagination__item last-page">7</li>
  <li class="pagination__arrow_right">
    <svg width="15" height="15">
      <use href="./images/sprite.svg#icon-arrow-right"></use>
    </svg>
  </li>
</ul>
