<ul class="pagination">
  <li class="pagination__arrow_left">
    <svg width="15" height="15">
      <use href="./images/sprite.svg#icon-arrow-left"></use>
    </svg>
  </li>
  <li class="pagination__item first-item">X</li>
  <li class="pagination__item second-item">X</li>
  <li class="pagination__item third-item">X</li>
  <li class="pagination__item fourth-item">X</li>
  <li class="pagination__item pagination__middle-item">X</li>
  <li class="pagination__item sixth-item">X</li>
  <li class="pagination__item seventh-item">X</li>
  <li class="pagination__item eighth-item">X</li>
  <li class="pagination__item last-item">X</li>
  <li class="pagination__arrow_right">
    <svg width="15" height="15">
      <use href="./images/sprite.svg#icon-arrow-right"></use>
    </svg>
  </li>
</ul>

<!-- <ul>
  <li class="pagination__arrow_left" ><svgwidth="15" height="15">
  <use href="./images/sprite.svg#icon-arrow-left"></use>
</svg></li>
  <li>
    <ul>
      <li class="pagination__item first-item">X</li>
      <li class="pagination__item second-item">X</li>
      <li class="pagination__item third-item">X</li>
      <li class="pagination__item fourth-item">X</li>
      <li class="pagination__item pagination__middle-item">X</li>
      <li class="pagination__item sixth-item">X</li>
      <li class="pagination__item seventh-item">X</li>
      <li class="pagination__item eighth-item">X</li>
      <li class="pagination__item last-item">X</li>
    </ul>
  </li>
  <li class="pagination__arrow_right">
    <svg width="15" height="15">
      <use href="./images/sprite.svg#icon-arrow-right"></use>
    </svg>
  </li>
</ul> -->
