<div class="pagination pagination--off">
  <button
    type="button"
    class="pagination__arrow visually-hidden left"
    data-arrow="left"
    title="left arrow"
  >
    <svg class="pagination__svg">
      <use class="svg" href="./images/sprite.svg#icon-arrow-left"></use>
    </svg>
  </button>

  <div class="pagination__block"></div>
  <button
    type="button"
    class="pagination__arrow visually-hidden right"
    data-arrow="right"
    title="right arrow"
  >
    <svg class="pagination__svg">
      <use class="svg" href="./images/sprite.svg#icon-arrow-right"></use>
    </svg>
  </button>
</div>
