<div class="backdrop_team is-hidden hidden">
  <div class="team__container">
    <button
      type="button"
      class="modal-btn-close team__close-btn"
      data-team-close
    >
      <svg class="modal-btn-close-icon" width="30" height="30">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="goit__wrapper">
      <a
        href="https://goit.global/"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <img src="./images/logo.png" class="team__logo" alt="GoIT" />
      </a>
      <!-- TEAM-GOIT -->
      <ul class="team__list">
        <li class="team__item">
          <div class="team__image">
            <img
              class="image__first"
              src="./images/team/grigoriy1.jpg"
              alt="Григорий"
            />
            <img
              class="image__second"
              src="./images/team/grigoriy2.jpg"
              alt="Григорий"
            />
          </div>
          <h3 class="team__name">Григорий</h3>
          <p class="team__function">Mentor</p>
          <!-- <ul class="social">
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="social__link"
                >
                  <svg class="social__icon">
                    <use
                      href="./images/sprite.svg#footer-modal-team-github"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="social__link"
                >
                  <svg class="social__icon">
                    <use
                      href="./images/sprite.svg#footer-modal-team-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="social__link"
                >
                  <svg class="social__icon">
                    <use
                      href="./images/sprite.svg#footer-modal-team-telegram"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul> -->
        </li>
        <li class="team__item">
          <div class="team__image">
            <img
              class="image__first"
              src="./images/team/alena1.jpg"
              alt="Алёна"
            />
            <img
              class="image__second"
              src="./images/team/alena2.jpg"
              alt="Алёна"
            />
          </div>
          <h3 class="team__name">Алёна</h3>
          <p class="team__function">Lecturer</p>
          <!-- <ul class="social">
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="social__link"
                >
                  <svg class="social__icon">
                    <use
                      href="./images/sprite.svg#footer-modal-team-github"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="social__link"
                >
                  <svg class="social__icon">
                    <use
                      href="./images/sprite.svg#footer-modal-team-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="social__link"
                >
                  <svg class="social__icon">
                    <use
                      href="./images/sprite.svg#footer-modal-team-telegram"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul> -->
        </li>
        <li class="team__item">
          <div class="team__image">
            <img
              class="image__first"
              src="./images/team/diana1.jpg"
              alt="Диана"
            />
            <img
              class="image__second"
              src="./images/team/diana2.jpg"
              alt="Диана"
            />
          </div>
          <h3 class="team__name">Диана</h3>
          <p class="team__function">Manager</p>
          <!-- <ul class="social">
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="social__link"
                >
                  <svg class="social__icon">
                    <use
                      href="./images/sprite.svg#footer-modal-team-github"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="social__link"
                >
                  <svg class="social__icon">
                    <use
                      href="./images/sprite.svg#footer-modal-team-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="social__link"
                >
                  <svg class="social__icon">
                    <use
                      href="./images/sprite.svg#footer-modal-team-telegram"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul> -->
        </li>
      </ul>
      <!-- TEAM -->
      <a
        href="https://anvomm.github.io/filmoteka_team_2/library.html"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <img
          src="./images/logo-team.png"
          class="team__logo"
          alt="Let's do IT"
        />
      </a>
    </div>
    <ul class="team__list">
      <li class="team__item">
        <div class="team__image">
          <img
            class="image__first"
            src="./images/team/anastasiya1.jpg"
            alt="Анастасия"
          />
          <img
            class="image__second"
            src="./images/team/anastasiya2.jpg"
            alt="Анастасия"
          />
        </div>
        <h3 class="team__name">Анастасия</h3>
        <p class="team__function">Team Leader</p>
        <ul class="social">
          <li>
            <a
              href="https://github.com/anvomm"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#footer-modal-team-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/anastassia-vomm/"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-linkedin"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://t.me/anvomm"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-telegram"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img
            class="image__first"
            src="./images/team/evgeniy1.jpg"
            alt="Евгений"
          />
          <img
            class="image__second"
            src="./images/team/evgeniy2.jpg"
            alt="Евгений"
          />
        </div>
        <h3 class="team__name">Евгений</h3>
        <p class="team__function">Scrum Master</p>
        <ul class="social">
          <li>
            <a
              href="https://github.com/EvgenyDibrovsky"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#footer-modal-team-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/jewgienij-dibrowski/"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-linkedin"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://t.me/webaltcome"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-telegram"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img
            class="image__first"
            src="./images/team/aleksandr1.jpg"
            alt="Александр"
          />
          <img
            class="image__second"
            src="./images/team/aleksandr2.jpg"
            alt="Александр"
          />
        </div>
        <h3 class="team__name">Александр</h3>
        <p class="team__function">Web Developer</p>
        <ul class="social">
          <li>
            <a
              href="https://github.com/Gector4"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#footer-modal-team-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-linkedin"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://t.me/Gector4"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-telegram"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img
            class="image__first"
            src="./images/team/ekaterina1.jpg"
            alt="Екатерина"
          />
          <img
            class="image__second"
            src="./images/team/ekaterina2.jpg"
            alt="Екатерина"
          />
        </div>
        <h3 class="team__name">Екатерина</h3>
        <p class="team__function">Web Developer</p>
        <ul class="social">
          <li>
            <a
              href="https://github.com/jukades"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#footer-modal-team-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/jukades"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-linkedin"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://t.me/jukades"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-telegram"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img
            class="image__first"
            src="./images/team/natalya1.jpg"
            alt="Наталья"
          />
          <img
            class="image__second"
            src="./images/team/natalya2.jpg"
            alt="Наталья"
          />
        </div>
        <h3 class="team__name">Наталья</h3>
        <p class="team__function">Web Developer</p>
        <ul class="social">
          <li>
            <a
              href="https://github.com/Siganova"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#footer-modal-team-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-linkedin"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://t.me/siganova_tihanskaya"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-telegram"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img class="image__first" src="./images/team/olga1.jpg" alt="Ольга" />
          <img
            class="image__second"
            src="./images/team/olga2.jpg"
            alt="Ольга"
          />
        </div>
        <h3 class="team__name">Ольга</h3>
        <p class="team__function">Web Developer</p>
        <ul class="social">
          <li>
            <a
              href="https://github.com/olga-zak"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#footer-modal-team-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/olga-zak-dev"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-linkedin"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://t.me/Olenj"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-telegram"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img
            class="image__first"
            src="./images/team/ruslan1.jpg"
            alt="Руслан"
          />
          <img
            class="image__second"
            src="./images/team/ruslan2.jpg"
            alt="Руслан"
          />
        </div>
        <h3 class="team__name">Руслан</h3>
        <p class="team__function">Web Developer</p>
        <ul class="social">
          <li>
            <a
              href="https://github.com/RuslanDakeshev"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#footer-modal-team-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/ruslan-dakeshev-09b18914a"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-linkedin"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://t.me/bil0301"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-telegram"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img class="image__first" src="./images/team/emil1.jpg" alt="Эмиль" />
          <img
            class="image__second"
            src="./images/team/emil2.jpg"
            alt="Эмиль"
          />
        </div>
        <h3 class="team__name">Эмиль</h3>
        <p class="team__function">Web Developer</p>
        <ul class="social">
          <li>
            <a
              href="https://github.com/Emil-Bayramov"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#footer-modal-team-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="http://www.linkedin.com/in/emil-bayramov"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-linkedin"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://t.me/mlbyrmv"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-telegram"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img class="image__first" src="./images/team/yurii1.jpg" alt="Юрий" />
          <img
            class="image__second"
            src="./images/team/yurii2.jpg"
            alt="Юрий"
          />
        </div>
        <h3 class="team__name">Юрий</h3>
        <p class="team__function">Web Developer</p>
        <ul class="social">
          <li>
            <a
              href="https://github.com/mrkusja"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#footer-modal-team-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="http://www.linkedin.com/in/yury-kusoits"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-linkedin"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://t.me/YuryKus"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-telegram"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img
            class="image__first"
            src="./images/team/yaroslav1.jpg"
            alt="Ярослав"
          />
          <img
            class="image__second"
            src="./images/team/yaroslav2.jpg"
            alt="Ярослав"
          />
        </div>
        <h3 class="team__name">Ярослав</h3>
        <p class="team__function">Web Developer</p>
        <ul class="social">
          <li>
            <a
              href="https://github.com/YaroslavKopylov"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#footer-modal-team-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://github.com/YaroslavKopylov"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-linkedin"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://t.me/ykopylov"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="social__link"
            >
              <svg class="social__icon">
                <use
                  href="./images/sprite.svg#footer-modal-team-telegram"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
