.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 44px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ff6b01;
    border-color: #ff6b01;
  }
}

/* BTN upTOP */
.arrow_uptop {
  display: none;
}

@media screen and (min-width: 768px) {
  .arrow_uptop {
    position: fixed;
    display: block;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: $bg-btn-uptop;
    border-radius: 5px;
    bottom: 12px;
    right: 50px;
    margin-right: -30px;
    outline: none;
    opacity: 0;
    transition: opacity 0.3s ease, margin-right 0.5s ease-out;
    cursor: pointer;

    &:hover {
      background-color: $bg-btn-uptop-h;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    }
    .theme-switcher & {
      background-color: #58534b;

      &:hover {
        background-color: #6a6359;
      }
    }
  }

  .arrow_upview {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.3s ease, margin-right 0.5s ease-out;
    margin-right: 0px;
    opacity: 0.6;
  }

  .arrow_uptop::before,
  .arrow_uptop::after {
    content: '';
    position: absolute;
    height: 18px;
    width: 2px;
    background-color: #ff6b08;
    top: 16px;
  }
  .arrow_uptop::before {
    left: 18px;
    transform: rotate(45deg);
  }
  .arrow_uptop::after {
    right: 18px;
    transform: rotate(-45deg);
  }
}

// BTN Login

.btn__login {
  background-color: transparent;
  margin-left: 20px;
}

.icon-login {
  width: 25px;
  height: 25px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: $accent-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .btn__login:hover & {
    transform: scale(1.2);
  }
}
