.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 100%;
  .theme-switcher & {
    background-color: #3b362f;
    box-shadow: 0px 0px 24px 0px #ffe1ce;
  }
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 280px;
    height: 100%;
    padding: 48px 20px 40px 20px;
    overflow-y: scroll;
  }
  .modal-card__img {
    height: 356px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 618px;
    min-height: 413px;
    padding: 40px 30px;
  }
  .modal-card__img {
    height: 373px;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    max-width: 882px;
    height: 568px;
    padding: 50px 30px 40px 30px;
  }
  .modal-card__img {
    height: 477px;
    width: 318px;
  }
}

.film-card-content__list-item {
  margin-bottom: 20px;
}

.film-card-content__description {
  display: flex;
}

.film-card-content__item,
.film-card-content__about-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.film-card-content__about-title {
  .theme-switcher & {
    color: #e2e2e2;
  }
}

.film-card-content__item {
  color: #8c8c8c;

  .theme-switcher & {
    color: #ad8566;
  }
}

.film-card-content__about {
  margin-bottom: 20px;
}

.film-card-content__about-title {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}

.film-card-content__about-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;

  .theme-switcher & {
    color: #a5a09c;
  }
}

.film-card-content__item-text-right {
  margin-left: 39px;
  color: #000;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .theme-switcher & {
    color: #e2e2e2;
  }
}

.film-card-content__item-text-left:not(:last-child) {
  margin-bottom: 10px;
}

.film-card-content__title {
  margin-bottom: 20px;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  line-height: 1.15;

  .theme-switcher & {
    color: #e2e2e2;
  }
}

.rating {
  padding: 1px 10px;
  border-radius: 5px;
  background-color: #ff6b01;
  color: #fff;

  .theme-switcher & {
    background-color: #994d15;
  }
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-btn-close:hover &,
  .modal-btn-close:focus & {
    fill: #ff6b01;
  }

  .theme-switcher & {
    fill: #a5a09c;
  }
}

.film-card-content_btn {
  display: flex;
}

.film-card-btn {
  border: 1px solid #000000;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .film-card-content__title {
    margin-top: 20px;
  }

  .film-card-btn {
    width: 110px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .film-card,
  .modal__wrap {
    display: flex;
  }

  .film-card-content {
    margin-left: 30px;
    max-width: 264px;
  }

  .film-card-btn {
    width: 125px;
    padding: 14px 5px;

    &:not(:last-child) {
      margin-right: 15px;
    }

    .theme-switcher & {
      color: #ad8566;
      border: 1px solid #ad8566;
    }

    .theme-switcher &:hover {
      color: #b6b6b6;
      border: 1px solid #b6b6b6;
      background-color: #6e5541;
    }
  }
}

@media screen and (min-width: 1280px) {
  .film-card-content {
    margin-left: 30px;
    max-width: 480px;
  }

  .film-card-content__title {
    font-size: 30px;
    line-height: 1.17;
  }

  .film-card-content__item-text-right {
    margin-left: 80px;

    .theme-switcher & {
      color: #888480;
    }
  }

  .film-card-btn {
    width: 136px;
    padding: 14px 10px 12px 10px;
  }
}

.disable-scroll {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
}
