.pagination {
  text-align: center;
  padding: 30px 0;
  display: flex;
  justify-content: center;

  &--off {
    display: none;
  }

  &__block {
    padding: 0;
    display: flex;
  }

  &__arrow {
    display: none;
    fill: $main-color;
    width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: $footer-bg-color;
    border: 2px solid $footer-bg-color;
    border-radius: 5px;
    cursor: pointer;
    transition: color 250ms $timing-function, fill 250ms $timing-function,
      border-color 250ms $timing-function;

    @media screen and (min-width: 768px) {
      width: 40px;
      height: 40px;
    }

    .theme-switcher & {
      background-color: #3a3a3a;
      border-color: 2px solid #e5e5e5;
      transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        background-color: #464646;
      }
    }
  }

  &__dots {
    width: 30px;
    height: 30px;
    color: $main-color;
    align-items: center;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
      width: 40px;
      height: 40px;
    }

    .theme-switcher & {
      color: #fff;
      margin-right: 5px;
    }
  }

  &__svg {
    stroke: currentColor;
    width: 16px;
    height: 16px;
    stroke-width: 0;
    stroke: currentColor;
    fill: $main-color;
    display: inline-block;
    fill: #000;

    .theme-switcher & {
      fill: #fff;
    }
  }

  &__button {
    width: 30px;
    height: 30px;
    font-size: 10px;
    color: $main-color;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 0px;
    background-color: $white-color;
    cursor: pointer;
    border: 2px solid $white-color;
    border-radius: 5px;
    transition: color 250ms $timing-function,
      border-color 250ms $timing-function;

    @media screen and (min-width: 768px) {
      font-size: 12px;
      width: 40px;
      height: 40px;
    }

    &:hover,
    &:focus {
      border-color: $accent-color;
    }

    .theme-switcher &:not(:last-child) {
      margin-right: 5px;
    }

    .theme-switcher & {
      background-color: #3a3a3a;
      border: 2px solid #e5e5e5;
      color: #e5e5e5;
      transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        background-color: #464646;
      }
    }

    &--active {
      background-color: $secondary-accent-color;
      color: $white-color;
      .theme-switcher & {
        background-color: #e5e5e5;
        color: #3a3a3a;
        transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:hover {
        border-color: $header-logo-color;
        color: $white-color;

        .theme-switcher & {
          border-color: #e5e5e5;
          background-color: #e5e5e5;
          color: #3a3a3a;
        }
      }
    }
  }
}

.left {
  margin-right: 0px;

  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }
}

.right {
  margin-left: 5px;

  @media screen and (min-width: 768px) {
    margin-left: 10px;
  }
}
