.footer {
  margin-top: 40px;
  background-color: $footer-bg-color;
  text-align: center;
  min-width: 320px;
  transition: background-color 0.6s ease-in-out;
  @media screen and (max-width: 767px) {
    padding-top: 29px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 28px;
  }

  .theme-switcher & {
    background-color: #3a3a3a;
  }
}

.copyright {
  display: block;

  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    display: inline-block;
  }
}

.footer__text {
  color: $footer-text-color;
  font-size: 14px;
  line-height: 1.17;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.17;
  }

  .theme-switcher & {
    color: #fff; //#8a8480
  }
}

.footer__link:hover,
.footer:focus {
  color: $accent-color;
  transition: $transition-duration $timing-function;
}

.underline {
  text-decoration: underline;
}
.footer__svg {
  margin: -1px 10px;
  animation: pulse 1s infinite;

  &:hover,
  &:focus {
    animation: paused;
  }

  @keyframes pulse {
    10% {
      transform: scale(1.3);
    }
  }
}
