.default-library-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;
  visibility: hidden;
}

.default-library-page__text_main {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 60px;
  transition: color 1s ease-in-out;
  @media screen and (min-width: 768px) {
    font-size: 56px;
  }
}

.default-library-page__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  margin-top: 10px;
  transition: color 1s ease-in-out;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.default-library-page__link {
  color: $accent-color;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.01em;

  .theme-switcher & {
    color: $white-color;
  }

  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
}

.library-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: 1280px) {
    gap: 5px;
  }
}

.library-default-film-card {
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.01);
  }
}

.library-default-film-card__img {
  border-radius: 5px;
}

.library-default-film-card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: $main-color;
  transition: color 0.5s ease-in-out;
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.2;
  }

  .theme-switcher & {
    color: $white-color;
  }
}

.library-default-film-card__genres {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: $accent-color;

  .theme-switcher & {
    color: $white-color;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.2;
  }
}

.library-default-film-card__release-date {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: $accent-color;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.2;
  }
}

.library-default-film-card__wrapper {
  display: block;
  flex-grow: 1;
  padding-top: 8px;
  width: 200;
}
